.qtip {
    font-size: 15px;
    line-height: 1.2;
}

.qtip-title {
    text-transform: capitalize;
}

.dictLookup {
    border-bottom: 1px dashed #2382c0;
}

.fruity .popover-header {
    background-color: #ebf0fa;
    color: #444444;
}

.fruity .popover-body {
    color: #444444;
}

.info-icon {
    margin-left: 0.25em;
}